<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item *ngFor="let control of jsonFormData.steps[currentStep - 1].items"
    ><ion-label>{{ control.label }}</ion-label
    ><ion-input
      *ngIf="control.type !== 'file'; else fileInput"
      [type]="control.type"
      [formControlName]="control.name"
      [value]="control.defaultValue"
      [placeholder]="control.placeholder"
    ></ion-input>
    <ng-template #fileInput>
      <input type="file" accept="image/*;capture=camera" />
      <!-- <ion-button (click)="onTakePhoto(control.name)">Choose Image</ion-button> -->
    </ng-template>
  </ion-item>

  <ion-button
    [type]="currentStep === jsonFormData.steps.length ? 'submit' : 'button'"
    >{{
      currentStep === jsonFormData.steps.length ? "Submit" : "Next"
    }}</ion-button
  >
</form>
